.container{
    width: 85vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 10px 25px 30px black;

}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 3s infinite;
}

.wrapper img{
    width: 100%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(-100%);
    }

    55%{
        transform: translateX(-200%);
    }



}